---
layout: layout.liquid
pageTitle: 📝 Writing
pageId: writing
---

{% include components/highlighted.liquid posts: collections.featuredPosts, label: "Featured post", limit: 4 %}
{% include components/postlist.liquid posts:collections.sortedPosts limit: 3 %}


<p><a href="https://www.patreon.com/fossheim" class="patreon">Support my work on Patreon</a></p>


{% include components/postlist.liquid posts:collections.sortedPosts limit: 3 offset: 3 %}


<p class="archive"><a href="./archive/">See all posts →</a></p>