<!doctype html>
<html lang="en">
    <head>
        {% seo %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='icon' href='/favicon.ico' type='image/x-icon'/>
        <link rel="stylesheet" href="/styles/variables.css">
        <link rel="stylesheet" href="/styles/gay.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/intro.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    </head>
    <body id={{pageId}}>
        {% include components/header.liquid title: pageId %}
        
        <main>
            {{content}} 
        </main>

        {% include components/footer.liquid %}
    </body>
</html>
