<!doctype html>
<html>
    <head>
        <title>Sarah Fossheim</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% seo %}
        <link rel='icon' href='/favicon.ico' type='image/x-icon'/ >
        <link rel="stylesheet" href="/styles/variables.css">
        <link rel="stylesheet" href="/styles/gay.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/intro.css">
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text|Source+Code+Pro|Lexend+Deca|Work+Sans:400,500,600,700,800&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <section class="personal-info">
                <p class="rainbow-text" id="full-name">
                    <a href="/">Sarah L. Fossheim</a>
                </p>
                <p class="rainbow-text-simple" id="contact-email">
                    <a href="mailto:sarah@fossheim.io">sarah@fossheim.io</a>
                </p>
            </section>

            <nav>
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="/writing">Writing</a></li>
                    <li><a href="https://codepen.io/fossheim">Codepen</a></li>
                    <li><a href="https://dev.to/fossheim">Dev.to</a></li>
                </ul>
            </nav>
        </header>
        
        <main id={{pageId}}>
            {{content}} 
        </main>
        <footer>
            <section>
                <p><strong>Sarah L. Fossheim</strong></p>
                <p>Developer + designer, passionate about data and ethics.</p>
            </section>
            <section>
                <p>
                    <strong>Connect with me on:</strong>
                    <br />
                    <a href="https://codepen.io/fossheim">Codepen</a> /
                    <a href="https://github.com/sarahfossheim">GitHub</a> /
                    <a href="https://www.linkedin.com/in/sarah-fossheim/">LinkedIn</a> /
                    <a href="https://glitch.com/@fossheim">Glitch</a> /
                    <a href="https://dev.to/fossheim">Dev.to</a> / 
                    <a href="https://twitter.com/liatrisbian">Twitter</a> / 
                    <a href="https://dribbble.com/fossheim">Dribbble</a>
                </p>
            </section>
        </footer>
    </body>
</html>
