---
layout: base.liquid
---

<h1>{{ pageTitle }}</h1>

{{ content }}

<p class="published">Posted on {{ date }}</p>

<hr>
{% include components/ctalink.liquid link: "/writing/archive", label: "View all posts" %}

{% include components/about.liquid %}
{% assign similar = collections.sortedPosts | similarPosts: page.inputPath, categories limit: 2 %}
{% include components/highlighted.liquid posts: similar, label: "Similar post", limit: 2 %}



{% capture css %}
    {% include ../styles/post.css %}
{% endcapture %}
<style>
    {{css | safe}}
</style>