---
layout: base.liquid
---

<!-- <p>← <a href="/writing">Back</a></p> -->

<h1>{{ pageTitle }}</h1>
{{ content }}


<hr>

{% assign similar = collections.sortedPosts | similarPosts: date, categories limit: 2 %}
{% include components/highlighted.liquid posts: similar, label: "Similar post", limit: 2 %}

<p class="archive"><a href="./archive/">See all posts →</a></p>

<p><a href="" class="patreon">Support my work on Patreon</a></p>
