---
layout: base.liquid
---

<!-- <p>← <a href="/writing">Back</a></p> -->

<h1>{{ pageTitle }}</h1>
{{ content }}


<hr>
{% include components/ctalink.liquid link: "/writing/archive", label: "View all posts" %}

{% include components/patreon.liquid %}
{% assign similar = collections.sortedPosts | similarPosts: date, categories limit: 2 %}
{% include components/highlighted.liquid posts: similar, label: "Similar post", limit: 2 %}


