---
layout: base.liquid
---

<p>â† <a href="/writing">Back</a></p>

<h1>{{ pageTitle }}</h1>
{{ content }}

<p><a href="/writing">See all posts</a></p>

<p><a href="" class="patreon">Support my work on Patreon</a></p>