<div class="about-author wide">
    <div class="inner">
        <p>
            Hi 👋 I'm Sarah, a multidisciplinary developer and designer, specialized in creating complex and data-heavy products that are accessible, ethical and user friendly. I also enjoy making <a href="https://codepen.io/fossheim/collections/">art with CSS</a>.
            On here, I frequently write about HTML/CSS, React, Python, UX design, accessibility and data visualizations.
        </p>
        <p>
            If you like my work, consider sharing this post, 
            <a href="https://www.buymeacoffee.com/fossheim">buying me a coffee</a>, 
            <a href="https://www.patreon.com/fossheim">becoming a patron</a> or 
            connecting with me on <a href="https://twitter.com/liatrisbian">Twitter</a>. 
            I'm also on <a href="https://www.twitch.tv/sarahfossheim">Twitch</a>, <a href="https://codepen.io/fossheim/">CodePen</a>, <a href="https://dev.to/fossheim">dev.to</a> and <a href="https://github.com/sarahfossheim">GitHub</a>. 
        </p>
    </div>
</div>

{% capture css %}
    {% include ../styles/about.css %}
{% endcapture %}
<style>
    {{css | safe}}
</style>