<footer>
    <div class="content">
        <div>
            <p><strong>Sarah L. Fossheim</strong></p>
            <p>Developer + designer, passionate about data and ethics.</p>
        </div>
        <div class="pronouns-container">
            <p>Pronouns are</p>
            <p class="pronouns">They/Them</p>
        </div>
        <div class="connect">
            <p>
                <strong>Connect with me on:</strong>
                <br />
                <a href="https://codepen.io/fossheim">CodePen</a>, 
                <a href="https://github.com/sarahfossheim">GitHub</a>, 
                <a href="https://dev.to/fossheim">Dev.to</a>, 
                <a href="https://glitch.com/@fossheim">Glitch</a>, 
                <a href="https://twitter.com/liatrisbian">Twitter</a>,  
                <a href="https://dribbble.com/fossheim">Dribbble</a>, 
                <a href="https://www.linkedin.com/in/sarah-fossheim/">LinkedIn</a>, 
                <a href="https://patreon.com/fossheim">Patreon</a>
            </p>
        </div>
    </div>
    {% include components/nightswitch.liquid %}
</footer>

{% capture css %}
    {% include ../styles/footer.css %}
{% endcapture %}
<style>
    {{css | safe}}
</style>