

/* ------------------------------------------ */
/* ------------------------------------------ */

/* Style the rainbow text element. */
.rainbow-text {
    /* Fallback: create a linear gradient. */
    background-color: var(--orange);

    background-image: linear-gradient(
        45deg,
        var(--red) 16.666%, 
        var(--orange) 16.666%, 
        var(--orange) 33.333%, 
        var(--yellow) 33.333%, 
        var(--yellow) 50%, 
        var(--green) 50%, 
        var(--green) 66.666%, 
        var(--blue) 66.666%, 
        var(--blue) 83.333%, 
        var(--purple) 83.333%);
        
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background-image: conic-gradient(
        var(--purple) 16.666%, 
        var(--red) 16.666%, 
        var(--red) 33.333%, 
        var(--orange) 33.333%, 
        var(--orange) 50%, 
        var(--yellow) 50%, 
        var(--yellow) 66.666%, 
        var(--green) 66.666%, 
        var(--green) 83.333%, 
        var(--blue) 83.333%); 

    /* Set thee background size and repeat properties. */
    background-size: 33%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.75s ease forwards;
    /*animation: rainbow-text-animation-rev 0.75s ease forwards, 
        rainbow-text-animation-cont 15s infinite 0.7s; */
    /*animation: rainbow-text-animation-cont 5s infinite,
        move-header 1s ease forwards 0.25s;*/

    /* cursor: pointer; */
}

.rainbow-text-simple {
    /* Create a linear gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: linear-gradient(
        45deg,
        var(--red) 16.666%, 
        var(--orange) 16.666%, 
        var(--orange) 33.333%, 
        var(--yellow) 33.333%, 
        var(--yellow) 50%, 
        var(--green) 50%, 
        var(--green) 66.666%, 
        var(--blue) 66.666%, 
        var(--blue) 83.333%, 
        var(--purple) 83.333%);

    /* Set thee background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.rainbow-text-simple-2 {
    /* Create a linear gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: linear-gradient(
        60deg,
        var(--red) 15%, 
        var(--orange) 15%, 
        var(--orange) 30%, 
        var(--yellow) 30%, 
        var(--yellow) 45%, 
        var(--green) 45%, 
        var(--green) 60%, 
        var(--blue) 60%, 
        var(--blue) 75%, 
        var(--purple) 75%);

    /* Set thee background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.rainbow-text-static, #front main h1 {
    /* Create a linear gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: linear-gradient(
        60deg,
        var(--red) 15%, 
        var(--orange) 15%, 
        var(--orange) 30%, 
        var(--yellow) 30%, 
        var(--yellow) 45%, 
        var(--green) 45%, 
        var(--green) 60%, 
        var(--blue) 60%, 
        var(--blue) 75%, 
        var(--purple) 75%);

    /* Set thee background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.rainbow-text:hover  {
    animation: rainbow-text-animation 0.5s ease-in forwards;
}  

.rainbow-text-simple:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}
.rainbow-text-simple-2:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
    0% {
        background-size: 32%;
        background-position: 0 0;
    }
    40% {
        background-size: 32%;
    }
    80% {
        background-position: 100% 2em;
    }
    100% {
        background-size: 550%;
        background-position: 70% 1em;
    }
}
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
        background-size: 500%;
        background-position: 120% 1em;
    }
    40% {
        background-position: 100% 2em;
    }
    80% {
        background-size: 32%;
    }
    100% {
        background-size: 70%;
        background-position: -2% 0;
    }
}

@keyframes rainbow-text-animation-cont {
    0% {
        background-size: 40% 60%;
        background-position: 0 0;
    }
    33% {
        background-size: 40% 60%;
        background-position: 0 0.05em;
    }
    66% {
        background-size: 41.5% 59.5%;
        background-position: 0.15em 0.01em;
    }
    100% {
        background-size: 40% 60%;
        background-position: 0 0;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 750%;
    }
    100% {
        background-size: 750%;
    }
}
  
/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 750%;
    }
    40% {
        background-size: 750%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-simple-animation-rev {
    0% {
        background-size: 750%;
        background-position: 150% 0;
    }
    100% {
        background-size: 100%;
        background-position: 0 0;
    }
}

/* ================================================ */
/* ================== FALLBACKS =================== */
/* ================================================ */

/* Add a linear gradient fallback when not . */
@supports not (background-image: conic-gradient(red, blue)) {
    .rainbow-text {
        background-image: linear-gradient(
        45deg,
        var(--red) 16.666%, 
        var(--orange) 16.666%, 
        var(--orange) 33.333%, 
        var(--yellow) 33.333%, 
        var(--yellow) 50%, 
        var(--green) 50%, 
        var(--green) 66.666%, 
        var(--blue) 66.666%, 
        var(--blue) 83.333%, 
        var(--purple) 83.333%);

        animation: rainbow-text-fallback-animation-rev 0.75s ease-in forwards;
    }

    .rainbow-text:hover {
        animation: rainbow-text-fallback-animation 0.5s ease-in forwards;
    }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-fallback-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 60%;
    }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-fallback-animation {
    0% {
        background-size: 60%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

/* !HACK! Change conic-gradient size in safari. */
_::-webkit-full-page-media, _:future, :root .rainbow-text {
    animation: rainbow-text-safari-animation-rev 0.75s ease forwards;
}

_::-webkit-full-page-media, _:future, :root .rainbow-text:hover {
    animation: rainbow-text-safari-animation 0.75s ease forwards;
}

@keyframes rainbow-text-safari-animation {
    0% {
        background-size: 90%;
        background-position: 0 0;
    }
    40% {
        background-size: 130%;
    }
    100% {
        background-size: 650%;
        background-position: 90% 80%;
    }
}

@keyframes rainbow-text-safari-animation-rev {
    0% {
        background-size: 500%;
        background-position: 120% 1em;
    }
    40% {
        background-position: 100% 2em;
    }
    100% {
        background-size: 90%;
        background-position: -2% 0;
    }
}

body:before {
    content: "";
    display: block;
    width: 100%;
    width: 100vw;
    height: 0.7rem;
    background-image: radial-gradient(var(--top-accent) 35%, transparent 40%);
    background-size: 4px 4px;
    margin-bottom: 0.7rem;
}

body:after {
    content: "";
    display: block;
    width: 100%;
    width: 100vw;
    height: 0.7rem;
    background-image: radial-gradient(var(--bottom-accent) 35%, transparent 40%);
    background-size: 4px 4px;
}

header {
    top: 0.7rem;
}