

/*
 * Note to self: Improve copywriting.
 * Note to self: Make pride mode 🏳️‍🌈, bright mode 🌞 and night mode 🌒. 
 */

/* TODO: Clean up gay hover effects. */
/* TODO: Gay fallbacks. */

/* Reset default padding and margins .*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

html {
    font-size: var(--text-size-base);
}

/* Set the default font and color for the body. */
body {
    background-color: var(--body-background-color);
    color: var(--text-color);

    font-family: "Work Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: var(--text-size-default);
}

/* Style the selected text and elements. */
::selection{
    background-color: var(--red);
    color: var(--body-background-color);
}

/* Global elements. */
strong {
    font-weight: 600;
}

/* Set the size and position of the header. */
header {   
    background-color: var(--body-background-color);
    box-sizing: border-box;
    display: block;

    width: 80vw;
    max-width: var(--main-text-width-wide); 
    height: 132px;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
}

header p#full-name {
    display: block;
    width: 170px;

    margin-top: 30px;

    font-size: var(--text-size-large);
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.15em;
}

header p#full-name a, header p#contact-email a {
    text-decoration: none;
}

header p#contact-email {
    font-weight: 700;
    width: 230px;
    transform: rotate(90deg);
    
    position: fixed;
    bottom: 115px;
    right: -66px;
}

/* Style the navigation. */
header nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;

    font-size: var(--text-size-small);
}

header nav ul {
    display: block;

    position: absolute;
    right: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 2em;

    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    width: auto;
}

header nav ul li a:hover {
    position: relative;
}

header nav ul li a:hover:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(
        45deg,
        var(--red) 16.666%, 
        var(--orange) 16.666%, 
        var(--orange) 33.333%, 
        var(--yellow) 33.333%, 
        var(--yellow) 50%, 
        var(--green) 50%, 
        var(--green) 66.666%, 
        var(--blue) 66.666%, 
        var(--blue) 83.333%, 
        var(--purple) 83.333%
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: absolute;
    bottom: -0.25em; 
    right: 0;
    animation: rainbow-simple-animation-rev 1s ease-out forwards;
}

/* Set the main container. */
main {
    width: 80vw;
    max-width: var(--main-text-width);
    font-size: var(--text-size-default);
    line-height: 1.25em;
    margin: 250px auto 150px auto;
}

main h1 {
    font-weight: 600;
    font-size: var(--text-size-large);
    line-height: 1.25em;
    margin-bottom: 1.5em;
}

main h1 span {
    font-size: var(--text-size-small);
    text-transform: uppercase;
}

main h2 {
    line-height: 1.25em;
    font-weight: 600;
    color: var(--text-color);
}

main h2 a {
    color: var(--text-color);
    text-decoration: none;
}

main p, main ul li, main ol li {
    font-weight: 400;
    margin-bottom: 1.5em;
    color: var(--text-color-blocks);
}

main p a, main ul li a, main ol li a, footer p a {
    position: relative;
    color: var(--text-color-blocks);
    text-decoration: none;
    border-bottom: 1px solid var(--text-color-blocks);
}

main p a:hover, main ul li a:hover,main ol li a:hover, footer p a:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red);
    transition: 0.5s;
}

main p a:hover:before, main ul li a:hover:before, main ol li a:hover:before, footer p a:hover:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
        45deg,
        var(--red) 16.666%, 
        var(--orange) 16.666%, 
        var(--orange) 33.333%, 
        var(--yellow) 33.333%, 
        var(--yellow) 50%, 
        var(--green) 50%, 
        var(--green) 66.666%, 
        var(--blue) 66.666%, 
        var(--blue) 83.333%, 
        var(--purple) 83.333%
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    animation: rainbow-simple-animation-rev 0.5s ease-out forwards;
}

main p#location {
    margin-top: 3em;
    font-size: var(--text-size-small);
}

/* ---- FRONT PAGE ---- */
#front header #full-name {
    display: none;
}

#front main h1 {
    font-size: 125px;
    font-size: var(--text-size-xlarge);
    line-height: 130px;
    line-height:  calc(var(--text-size-xlarge) + 5px);
    font-weight: 700;
    width: 600px;
    margin-bottom: 75px;

    background-size: 580px;
}

#front main h2 {
    font-size: 1.75em;
    margin-bottom: 1em;
}

#front main p {
    color: var(--text-color)
}

/* ---- WRITING PAGE ---- */
#writing main {
    max-width: var(--main-text-width);
}

#writing main .posts-block  {
    margin-bottom: 0;
}

#writing main .latest {
    margin-bottom: 0em;
}

.posts-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: var(--text-size-large);
}

.posts-block .posts-latest {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 440px;
    max-width: calc(calc(var(--main-text-width-wide) / 2) - 5px);
    min-height: 250px;
    background-color: #c1ecd8;
    padding: var(--text-size-large);
    margin-bottom: 10px;
}

.posts-block .posts-latest:nth-child(1) {
    background-color: var(--color-post-1);
}

.posts-block .posts-latest:nth-child(2) {
    background-color: var(--color-post-2);
}

.posts-block .posts-latest:nth-child(3) {
    background-color: var(--color-post-3); 
}

.posts-block .posts-latest:nth-child(4) {
    background-color: var(--color-post-4);
}

.posts-block .posts-latest p {
    color: var(--text-color-tags);
    font-size: var(--text-size-xsmall);
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.75;
    margin-bottom: 0;
}

.posts-block .posts-latest h2 a {
    color: var(--text-color-tags);
    /* text-decoration: underline; */
}

.posts-block .posts-latest h2 a:hover {
    text-decoration: underline;
}

.posts-block .posts-latest h2 {
    font-size: var(--text-size-medium);
    margin-top: 0;
}

#writing main h1, .similar {
    width: var(--main-text-width);
    margin-left: auto;
    margin-right: auto;
}

#writing main .posts-list-item h2 {
    font-size: var(--text-size-large);
    margin-top: 0em;
    margin-bottom: 0.25em;
}

.posts-block .posts-latest p.categories {
    margin-top: 0.5em;
}

.posts-block .posts-latest p.categories span {
    margin-right: 1em;
}

/* ---- CTA LINK ---- */
.cta-link {
    max-width: var(--main-text-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-size: var(--text-size-small);
    text-transform: uppercase;
    font-weight: 600;
}

.cta-link a {
    padding-bottom: 8px;
    border-width: 3px;
    color: var(--text-color);
    border-color: var(--text-color);
    letter-spacing: 0.5px;
}

.cta-link a:hover {
    border-bottom: 3px solid var(--text-color);
    color: var(--red);
    animation: none;
}

.cta-link a:hover:before {
    height: 3px;
    bottom: -3px;
}

/* ---- PATREON ---- */
.patreon {
    display: block;
    width: 100%;
    max-width: var(--main-text-width-wide);
    /* border-radius: 3px; */
    background-color: var(--color-post-4);
    padding: var(--text-size-large);
    padding-left: calc(var(--text-size-large) * 3.5);
    background-image: url("/static/icons/patreon.png");
    background-size: auto 50%;
    background-position: left var(--text-size-large) center;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 600;
    border: none;
    margin-top: 1.5em;
    color: var(--text-color-tags);
}

.patreon:after {
    content: "→";
    margin-left: 0.5em;
}

.patreon:hover:before {
    height: 0;
}

.patreon:hover:after {
    margin-left: 1em;
    transition: 0.5s;
}

.patreon:hover {
    color: var(--text-color-tags);
    border: none;
    background-color: var(--color-post-3);
}

#post main .wide .patreon {
    margin-bottom: -1em;
}

#post main h2 a {
    color: var(--text-color);
    text-decoration: underline;
    transition: color 0.5s;
}

#post main h2 a:hover {
    color: var(--red);
}

/* ---- ARCHIVE ---- */
#archive main h1, #writing main h1, #writing main h1.similar {
    font-size: var(--text-size-small);
    text-transform: uppercase;
    font-weight: 600;
}

.post-list .posts-list-item {
    padding: 1.5em 0;
    border-bottom: 1px solid var(--text-color-transparent);
    position: relative;
    max-width: var(--main-text-width);
    margin-left: auto;
    margin-right: auto;
}

.post-list .posts-list-item:last-child  {
    border-bottom: none;
}

.post-list .posts-list-item a {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.post-list .posts-list-item a:hover {
    text-decoration: none;
}

.post-list .posts-list-item p {
    color: var(--text-color);
    margin-bottom: 0;
    font-size: var(--text-size-small);
    text-transform: uppercase;
    font-weight: 600;
}

.post-list .posts-list-item p.categories {
    font-size: var(--text-size-xsmall);
}

.post-list .posts-list-item p span {
    margin-right: 1em;
}

.post-list .posts-list-item h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}


/* ---- POSTS PAGE ---- */
#post main pre, #post main iframe, #post main img {
    margin-bottom: 1.5em;
}


#post main pre {
    overflow-x: scroll;
    color: var(--text-color-blocks);
    background-color: var(--code-block-bg);

    width: 100%;
    width: var(--main-text-width-wide);
    position: relative;
    left: -117px;
    padding: 1em 1.5em;
    box-sizing: border-box;
}

#post main pre code {
    font-size: var(--text-size-small);
    white-space: pre-wrap;
}

.wide {
    width: 100%;
    width: var(--main-text-width-wide);
    position: relative;
    left: -117px;
    padding: 0;
}

#post main h2, #post main h3, #post main h4, #post main h5 {
    font-weight: 600;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

#post main .posts-block .posts-latest h2 {
    margin: 0;
}

#post main h2 {
    font-size: 1.35em;
}

#post main *:not(pre) code {
    background-color: var(--code-block-bg);
    color: var(--text-color-blocks);
    font-size: var(--text-size-small);
    padding: 0.25em;
}

#post main ul, #post main ol {
    margin-bottom: 1.5em;
    margin-left: 1em;
}

#post main ul li, #post main ol li {
    margin-bottom: 0.5em;
}
#post main ul li ul, #post main ol li ul, #post main ol li ol, #post main ul li ol {
    margin-top: 0.5em;
}

#post main hr {
    margin: 4em 0;
    border: 0;
    border-top: 1px solid var(--text-color-transparent);
}

#post main .cta-link {
    margin-bottom: calc(var(--text-size-large) * 2);
}

/* Footer. */
footer {
    display: block;
    width: var(--main-text-width-wide);
    max-width: 90vw;
    
    margin-left: auto;
    margin-right: auto;

    padding-top: 5em;
    padding-bottom: 5em;

    font-size: var(--text-size-small);

    border-top: var(--text-color-transparent) 1px solid;
    overflow: hidden;
}

/* TODO: Make this a flexbox. */
footer div {
    width: 50%;
    float: left;
    text-align: center;
}

footer div:first-child {
    width: 25%;
    text-align: left;
    float: left;
}

footer div:last-child {
    width: 25%;
    float: right;
    text-align: right;
}

footer div .pronouns {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 28px;
}

footer div ul li {
    list-style-type: none;
}

@media screen and (max-width: 1125px) {
    .wide, #post main pre  {
        width: 100%;
        left: 0;
        position: static;
    }

    .wide.posts-block .posts-latest {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .posts-block .posts-latest {
        max-width: 100%;
        min-height: 50px;
    }

    .wide .posts-latest {
        margin-left: 5vw;
    }
}

@media screen and (max-width: 1048px) {
    header p#contact-email {
        right: -90px;
    }
}

@media screen and (max-width: 900px) {
    header p#contact-email {
        display: none;
    }

    header p#full-name {
        font-size: var(--text-size-large);
        width: 170px;
        margin-left: 0vw;
        z-index: 1;
        position: relative;
    }

    #post main .wide {
        width: 80vw;
        max-width: var(--main-text-width);
        position: relative;
        
    }

    #post main pre {
        width: 80vw;
        max-width: var(--main-text-width);
        position: static;
        left: 0;
    }

    header {
        position: absolute;
        top: 0em;
        left: 0;
        width: 80%;
    }

    header nav {
        padding-top: 1.5em;
        width: 100%;
        height: 182px;
        position: absolute;
        right: 0;

        z-index: 0;
    }
    header nav ul  {
        right: 0;  
    }
    header nav ul li {
        margin-left: 0;
        text-align: right;
        margin-bottom: 0.5em;
        display: block;
        width: auto;
    }

    #front main {
        margin-top: 350px;
    }

    #post .wide.posts-block {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .posts-latest {
        width: 100%;
        max-width: 100%;
    }

    footer div {
        float: none;
        text-align: left;
        width: 80%;
        margin-bottom: 2em;
    }

    footer div:first-child {
        width: 80%;
        float: none;
    }
    
    footer div:last-child {
        float: none;
        text-align: left;
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    #front main h1 {
        margin-top: -100px;
        width: 300px;
        background-size: 95%;
        margin-bottom: 1rem;
    }
}


@media screen and (max-width: 666px) {
    #post main .wide, #post main pre {
        width: 100vw;
        position: relative;
        left: -10vw;
    }

    #post main .wide .patreon {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .patreon {
        background-size: auto 35px;
        font-size: var(--text-size-regular);
        padding-left: 90px;
    }

    #post main iframe.wide {
        width: 90vw;
        left: -5vw;
    }

    #post main pre {
        font-size: var(--text-size-regular);
    }
}

/* To enforce alt tags */
img:not([alt]) {
    filter: blur(5px);
}