/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/roboto-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
            url('/static/fonts/roboto-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/static/fonts/roboto-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('/static/fonts/roboto-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('/static/fonts/roboto-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('/static/fonts/roboto-mono-v7-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

#post main pre, #post main pre code, #post main code {
    font-family: "Roboto Mono", monospace !important;
}


/* ---- POSTS PAGE ---- */
#post main pre, #post main iframe, #post main img {
    margin-bottom: 1.5em;
}


#post main pre {
    overflow-x: scroll;
    color: var(--text-color-blocks);
    background-color: var(--code-block-bg);

    width: 100%;
    width: 900px;
    width: var(--main-text-width-wide);
    position: relative;
    left: -117px;
    padding: 1em 1.5em;
    box-sizing: border-box;
}

#post main pre code {
    font-size: var(--text-size-small);
    white-space: pre-wrap;
}

.wide {
    width: 100%;
    width: 900px;
    width: var(--main-text-width-wide);
    position: relative;
    left: -117px;
    padding: 0;
}

#post main audio {
    display: block;
    min-width: 300px;
    width: 60%;
    margin: 0 auto 1.5rem auto;
}

#post main h2, #post main h3, #post main h4, #post main h5 {
    font-weight: 600;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

#post main .posts-block .posts-latest h2 {
    margin: 0;
}

#post main h2 {
    font-size: 1.35em;
}

#post main *:not(pre) code {
    background-color: var(--code-block-bg);
    color: var(--text-color-blocks);
    font-size: var(--text-size-small);
    padding: 0.25em;
}

#post main ul, #post main ol {
    margin-bottom: 1.5em;
    margin-left: 1em;
}

#post main ul li, #post main ol li {
    margin-bottom: 0.5em;
}
#post main ul li ul, #post main ol li ul, #post main ol li ol, #post main ul li ol {
    margin-top: 0.5em;
}

#post main hr {
    margin: 4em 0;
    border: 0;
    border-top: 1px solid var(--text-color-transparent);
}

#post main .cta-link {
    margin-bottom: calc(var(--text-size-large) * 2);
}

#post main .xsmall {
    font-size: 0.55rem;
    line-height: 0.95rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
}

#post .published {
    font-size: 0.75rem;
    opacity: 0.75;
}

@media screen and (max-width: 900px) {
    #post main .wide {
        width: 80%;
        width: 80vw;
        max-width: 666px;
        max-width: var(--main-text-width);
        position: relative;
        left: 0;
        right: 0;
    }

    #post main pre {
        width: 80%;
        width: 80vw;
        max-width: 666px;
        max-width: var(--main-text-width);
        position: static;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}