:root {
    --red: #CA4246;
    --orange: #E16541;
    --yellow: #F18F43;
    --green: #8B9862;
    --blue: #476098;
    --purple: #A7489B;

    --selection: #22D2A0;
    --top-accent: #E1CC13;
    --bottom-accent: #55CAE7;

    --body-background-color: #fff;
    /* --text-color: #2A3BDF; 
    --text-color-transparent: rgba(42,59,223,0.2);
    --text-color-blocks: #071381; 
    --text-color-tags: #071381; */

    --text-color: #0c412b; 
    --text-color-transparent: rgba(12,65,43,0.2);
    --text-color-blocks: #0c412b; 
    --text-color-tags: #0c412b;

    --main-text-width: 666px;
    --main-text-width-wide: 900px;
    --main-container-padding: 117px;

    --code-block-bg: #ece3e1;

    --text-size-base: 24px;
    --text-size-xlarge: 5rem;
    --text-size-default: 1rem;
    --text-size-large: 1.5rem;
    --text-size-small: 0.75rem;
    --text-size-xsmall: 0.58rem;
    --text-size-medium: 1.25rem;

    --color-post-2: #F3CFCD;
    --color-post-3: #EDE389;
    --color-post-1: #C7EEEC;
    --color-post-4: #CCE6C9;
}

@media screen and (max-width: 750px) {
    :root {
        --text-size-base: 20px;
        --text-size-small: 0.9rem;
        --text-size-xsmall: 0.75rem;    
        --text-size-xlarge: 3rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --red: #B1C86B;
        --orange: #B1C86B;
        --yellow: #B1C86B;
        --green: #B1C86B;
        --blue: #B1C86B;
        --purple: #B1C86B;

        --selection: #000000;
        --top-accent: #EEBBBB;
        --bottom-accent: #B1C86B;

        --body-background-color: #003035;

        --text-color: #EEBBBB; 
        --text-color-transparent: rgba(243,228,228,0.2);
        --text-color-blocks: #EEBBBB; 
        --text-color-tags: #EEBBBB;

        --code-block-bg: #012521;

        --color-post-2: #012521;
        --color-post-3: #012521;
        --color-post-1: #012521;
        --color-post-4: #012521;

    }
}