:root {
    --main-text-width: 666px;
    --main-text-width-wide: 900px;
    --main-container-padding: 117px;

    --text-size-base: 24px;
    --text-size-xlarge: 5rem;
    --text-size-default: 1rem;
    --text-size-large: 1.5rem;
    --text-size-small: 0.75rem;
    --text-size-xsmall: 0.58rem;
    --text-size-medium: 1.25rem;

    --red: #CA4246;
    --orange: #E16541;
    --yellow: #F18F43;
    --green: #8B9862;
    --blue: #476098;
    --purple: #A7489B;

    --selection: #22D2A0;
    --top-accent: #E1CC13;
    --bottom-accent: #55CAE7;

    --body-background-color: #fff;

    --text-color: #0c412b; 
    --text-color-transparent: rgba(12,65,43,0.2);
    --text-color-blocks: #0c412b; 
    --text-color-tags: #0c412b;

    --code-block-bg: #ece3e1;

    --color-post-1: #FFF;
    --color-post-2: #FFF;
    --color-post-3: #FFF;
    --color-post-4: #FFF;
    --color-post-border-1: #22D2A0;
    --color-post-border-2: #E1CC13;
    --color-post-border-3: #FD9065;
    --color-post-border-4: #55CAE7;
}

@media screen and (max-width: 750px) {
    :root {
        --text-size-base: 20px;
        --text-size-small: 0.9rem;
        --text-size-xsmall: 0.75rem;    
        --text-size-xlarge: 3rem;
    }
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --is-night: "yes";
    }
} */

:root[user-color-mode="night"] {
    --red: #EF7427;
    --orange: #EF7427;
    --yellow: #EF7427;
    --green: #EF7427;
    --blue: #EF7427;
    --purple: #EF7427;

    --selection: #D162A6;
    --top-accent: #D162A6;
    --bottom-accent: #D162A6;

    --body-background-color: #003035;

    --text-color: #EEBBBB; 
    --text-color-transparent: rgba(243,228,228,0.2);
    --text-color-blocks: #EEBBBB; 
    --text-color-tags: #EEBBBB;

    --code-block-bg: #012521;

    --color-post-2: #012521;
    --color-post-3: #012521;
    --color-post-1: #012521;
    --color-post-4: #012521;
    --color-post-border-1: #D162A6;
    --color-post-border-2: #D162A6;
    --color-post-border-3: #D162A6;
    --color-post-border-4: #D162A6;
}